<!-- mobile/tablet hamburger icon -->
<button class="md:hidden fixed top-4 left-4 z-50" (click)="toggleMobileMenu()">
  <mat-icon [svgIcon]="'menu'"></mat-icon>
</button>

<!-- mobile navigation container -->
<div
  class="md:hidden min-h-screen fixed top-0 left-0 right-0 bg-gray-900 transform transition-transform duration-300 ease-in-out z-50 overflow-y-auto"
  [ngClass]="{
    'translate-x-0': isMobileMenuOpen,
    '-translate-x-full': !isMobileMenuOpen,
  }"
>
  <!-- close button -->
  <button
    (click)="toggleMobileMenu()"
    class="absolute top-4 right-4 text-white"
  >
    <mat-icon [svgIcon]="'close'">X</mat-icon>
  </button>

  <div class="flex flex-col items-center pt-16 space-y-6">
    <div
      class="mobile-nav-item"
      *ngFor="let item of navItems"
      routerLink="{{ item.path }}"
      routerLinkActive="active"
      (click)="toggleMobileMenu()"
    >
      <mat-icon [svgIcon]="item.icon"></mat-icon>
      <span class="ml-2">{{ item.label }}</span>
    </div>
  </div>
</div>

<!-- desktop navigation -->
<div
  class="hidden md:fixed md:top-0 md:left-0 md:h-screen md:w-16 md:m-0 md:flex flex-col bg-gray-900 text-white shadow-lg"
>
  <div
    class="sidebar-icon group"
    *ngFor="let item of navItems"
    routerLink="{{ item.path }}"
    routerLinkActive="active"
  >
    <mat-icon [svgIcon]="item.icon"></mat-icon>
    <span class="sidebar-tooltip group-hover:scale-100">
      {{ item.label }}
    </span>
  </div>

  <div
    class="sidebar-icon group"
    routerLink="/projects"
    routerLinkActive="active"
  >
    <mat-icon [svgIcon]="'newspaper'"></mat-icon>
    <span class="sidebar-tooltip group-hover:scale-100">{{
      tooltips.projects
    }}</span>
  </div>

  <div
    class="sidebar-icon group"
    routerLink="/contact"
    routerLinkActive="active"
  >
    <mat-icon [svgIcon]="'contact_page'"></mat-icon>
    <span class="sidebar-tooltip group-hover:scale-100">{{
      tooltips.contact
    }}</span>
  </div>

  <div class="sidebar-icon group" routerLink="/blog" routerLinkActive="active">
    <mat-icon [svgIcon]="'newspaper'"> </mat-icon>
    <span class="sidebar-tooltip group-hover:scale-100">{{
      tooltips.blog
    }}</span>
  </div>

  <div
    class="sidebar-icon group"
    routerLink="/codestrata"
    routerLinkActive="active"
  >
    <span class="sidebar-tooltip group-hover:scale-100">{{
      tooltips.codestrata
    }}</span>
  </div>
</div>
