<div
  class="fixed top-0 left-0 h-screen w-16 m-0 flex flex-col bg-gray-900 text-white shadow-lg"
>
  <div class="sidebar-icon group" routerLink="/home" routerLinkActive="active">
    <mat-icon [svgIcon]="'home'"></mat-icon>
    <span class="sidebar-tooltip group-hover:scale-100">{{
      tooltips.home
    }}</span>
  </div>

  <div
    class="sidebar-icon group"
    routerLink="/projects"
    routerLinkActive="active"
  >
    <mat-icon [svgIcon]="'newspaper'"></mat-icon>
    <span class="sidebar-tooltip group-hover:scale-100">{{
      tooltips.projects
    }}</span>
  </div>

  <div
    class="sidebar-icon group"
    routerLink="/contact"
    routerLinkActive="active"
  >
    <mat-icon [svgIcon]="'contact_page'"></mat-icon>
    <span class="sidebar-tooltip group-hover:scale-100">{{
      tooltips.contact
    }}</span>
  </div>

  <div class="sidebar-icon group" routerLink="/blog" routerLinkActive="active">
    <mat-icon [svgIcon]="'newspaper'"> </mat-icon>
    <span class="sidebar-tooltip group-hover:scale-100">{{
      tooltips.blog
    }}</span>
  </div>

  <div
    class="sidebar-icon group"
    routerLink="/codestrata"
    routerLinkActive="active"
  >
    <span class="sidebar-tooltip group-hover:scale-100">{{
      tooltips.codestrata
    }}</span>
  </div>
</div>
