<!-- mobile/tablet hamburger icon -->
<button class="fixed left-4 top-4 z-50 md:hidden" (click)="toggleMobileMenu()">
  <mat-icon [svgIcon]="'menu'"></mat-icon>
</button>

<!-- mobile navigation container -->
<div
  class="fixed left-0 right-0 top-0 z-50 min-h-screen transform overflow-y-auto bg-gray-900 transition-transform duration-300 ease-in-out md:hidden"
  [ngClass]="{
    'translate-x-0': isMobileMenuOpen,
    '-translate-x-full': !isMobileMenuOpen,
  }"
>
  <!-- close button -->
  <button (click)="toggleMobileMenu()" class="absolute right-4 top-4 text-white">
    <mat-icon [svgIcon]="'close'">X</mat-icon>
  </button>

  <div class="flex flex-col items-center space-y-6 pt-16">
    <div
      class="mobile-nav-item"
      *ngFor="let item of navItems"
      routerLink="{{ item.path }}"
      routerLinkActive="active"
      (click)="toggleMobileMenu()"
    >
      <mat-icon [svgIcon]="item.icon"></mat-icon>
      <span class="ml-2">{{ item.label }}</span>
    </div>
  </div>
</div>

<!-- desktop navigation -->
<div
  class="hidden flex-col bg-gray-900 text-white shadow-lg md:fixed md:left-0 md:top-0 md:m-0 md:flex md:h-screen md:w-16"
>
  <div class="sidebar-icon group" *ngFor="let item of navItems" routerLink="{{ item.path }}" routerLinkActive="active">
    <mat-icon [svgIcon]="item.icon"></mat-icon>
    <span class="sidebar-tooltip group-hover:scale-100">
      {{ item.label }}
    </span>
  </div>

  <!--  <div class="sidebar-icon group" routerLink="/projects" routerLinkActive="active">-->
  <!--    <mat-icon [svgIcon]="'newspaper'"></mat-icon>-->
  <!--    <span class="sidebar-tooltip group-hover:scale-100">{{ tooltips.projects }}</span>-->
  <!--  </div>-->

  <!--  <div class="sidebar-icon group" routerLink="/contact" routerLinkActive="active">-->
  <!--    <mat-icon [svgIcon]="'contact_page'"></mat-icon>-->
  <!--    <span class="sidebar-tooltip group-hover:scale-100">{{ tooltips.contact }}</span>-->
  <!--  </div>-->

  <!--  <div class="sidebar-icon group" routerLink="/blog" routerLinkActive="active">-->
  <!--    <mat-icon [svgIcon]="'newspaper'"> </mat-icon>-->
  <!--    <span class="sidebar-tooltip group-hover:scale-100">{{ tooltips.blog }}</span>-->
  <!--  </div>-->

  <!--  <div class="sidebar-icon group" routerLink="/codestrata" routerLinkActive="active">-->
  <!--    <span class="sidebar-tooltip group-hover:scale-100">{{ tooltips.codestrata }}</span>-->
  <!--  </div>-->
</div>
