nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav a.active {
  color: #4caf50;
  border-bottom: 2px solid #4caf50;
}

mat-icon {
  width: 24px !important;
  height: 23px !important;
}

.mobile-menu-open {
  overflow: hidden;
}

.mobile-nav-item {
  @apply flex items-center w-full text-center px-6 py-4 text-white hover:bg-gray-700 transition-colors duration-200;
}

.mobile-nav-item.active {
  @apply bg-green-600;
}
