<div class="flex h-screen flex-col items-center justify-center bg-gray-400">
  <header>
    <h2 class="mb-7 py-2 text-3xl font-bold text-green-500">Get in touch with me</h2>
  </header>

  <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
    <!-- name field -->
    <div>
      <label for="name" class="text-md my-1 block font-light text-gray-700"> Name </label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="w-sm rounded-md border border-green-400 px-3 py-2 shadow-sm focus:outline-none"
        placeholder="John Doe"
        [ngClass]="{
          'border-red-500': isFieldInvalid('name'),
        }"
      />
      <div *ngIf="isFieldInvalid('name')" class="mt-1 text-sm text-red-500">Name is required!</div>
    </div>

    <!-- email field -->
    <div>
      <label for="email" class="text-md my-1 block font-light text-gray-700"> Email </label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="w-sm rounded-md border border-green-400 px-3 py-2 shadow-sm focus:outline-none"
        placeholder="johndoe@example.com"
        [ngClass]="{
          'border-red-500': isFieldInvalid('email'),
        }"
      />
      <div *ngIf="isFieldInvalid('email')" class="mt-1 text-sm text-red-500">
        <span *ngIf="hasError('email', 'required')"> Email is required! </span>
        <span *ngIf="hasError('email', 'email')"> Please enter a valid email address! </span>
      </div>
    </div>

    <!-- message field -->
    <div>
      <label for="message" class="text-md my-1 block font-light text-gray-700"> Message </label>
      <textarea
        id="message"
        formControlName="message"
        class="w-sm rounded-md border border-green-400 px-3 shadow-sm focus:outline-none"
        placeholder="Your message"
        [ngClass]="{
          'border-red-500': isFieldInvalid('message'),
        }"
      ></textarea>
      <div *ngIf="isFieldInvalid('message')" class="my-1 text-sm text-red-500">Message is required!</div>
    </div>

    <!-- submit button -->
    <div>
      <button type="submit" class="mt-4 rounded-md bg-blue-500 px-4 py-2 text-white" [disabled]="isSubmitting">
        Send
      </button>
    </div>

    <!-- success and error messages -->
    <div *ngIf="successMessage" class="mt-4 text-green-500">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="mt-4 text-red-500">
      {{ errorMessage }}
    </div>
  </form>
</div>
