<div class="flex min-h-screen w-full flex-col">
  <h1 class="flex w-full justify-end pb-3 pr-10 pt-3 text-xl font-extrabold text-slate-500">Darcey Mckelvey</h1>

  <div class="flex flex-1 items-center justify-center bg-gray-100 p-4 md:p-6">
    <div class="w-full max-w-[95%] sm:max-w-[85%] md:max-w-2xl lg:max-w-3xl xl:max-w-4xl">
      <div class="flex flex-col p-4 md:px-6">
        <h2 class="px-3 text-2xl font-bold tracking-wider text-slate-500 md:mb-7 md:text-4xl">
          <span class="font-bold text-amber-300">Hello</span> 👋
        </h2>
        <h2 class="px-3 pt-3 text-4xl font-bold tracking-wider text-slate-500">
          I'm an Angular Full Stack Web Developer.
        </h2>
        <p class="py-4 text-base tracking-wide text-slate-500 md:text-lg">
          <span class="font-bold text-secondary">Language-agnostic</span> and
          <span class="font-bold text-secondary"> Pragmatic</span>, I focus on solving problems and delivering value
          with the best tools for the job—no matter the stack.
        </p>
        <div class="mt-4 flex justify-center md:mt-7">
          <button class="rounded-full border-4 bg-gray-50 px-4 py-2 hover:bg-gray-400">
            <span class="p-2 text-base font-black tracking-widest text-slate-500 md:p-3 md:text-lg"
              ><a routerLink="contact" routerLinkActive="active">Hire Me</a></span
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
